.tab-bar {
  position: fixed;
  bottom: env(safe-area-inset-bottom);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
  width: 80%;
  height: 100px;
  display: flex;
  box-shadow: 0 0px 50px -10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(90deg, rgba(219, 35, 97, 0.3), rgba(191,70,255,.3), rgba(0,212,255,.3));
}

.tab-bar-item {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tab-bar-item image {
  width: 54px;
  height: 54px;
}

.tab-bar-item view {
  font-size: 20px;
}